.notice-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 90vh;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.50);
}
.notice{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255);
    width: 90vw;
    height: 85vh;
}
.notice h2{
    margin: 0;
    padding: 2vw;
}
.riddle{
    color:rgb(41, 91, 167);
    font-weight: 700;
    font-size: 1.2em;
}