.letter__li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkgray);
    border: .25vh solid var(--lightgray);
    border-radius: 10%;
    width: 8vh;
    height: 7vh;
    font-size: 2.5em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.underline{
    margin-top: 1px;
    width: 7.5vh;
    height: .5vh;
    border-radius: 3px;
}

.selected{
    display: block;
    background-color: var(--darkgray);
    
}

.highlight{
    background-color: var(--letter-highlight);
}

.class-miss{
    background-color: var(--miss-letter);
}
.class-good-try{
    background-color: var(--good-try);
}
.class-jackpot{
    background-color: var(--jackpot);
}

.line_selected{
    border-color: var(--darkgray);
}