.letter{
    display: flex;
    border: 2px solid rgb(72, 90, 90);
    border-radius: 10%;
    width: 8vh;
    height: 7vh;
    font-size: 2em;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}