.letter__li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25vh solid rgb(72, 90, 90);
    border-radius: 10%;
    width: 8vh;
    height: 7vh;
    font-size: 2.5em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.underline{
    margin-top: 1px;
    width: 7vh;
    height: .5vh;
    border-radius: 3px;
}

.selecionado{
    display: block;
    background-color: black;
    
}