.container__keyboard{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.keyboard{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 1em;
    row-gap: .25em;
  }
.keyboard__line{
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: .25em;
  flex-grow: 1;
}

.line-top{
  justify-content: flex-end;
}
.line-bottom{
  justify-content: flex-end;
}