
.key{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 233, 233);
    width: 4vh;
    height: 7vh;
    text-transform: uppercase;
    border-radius: .5vh;
    font-weight: bold;
}

.enter, .backspace{
    width: 6vh;
}

.enter img{
    padding-left: .25vh;
    width: 2.5vh;
}
.backspace img{
    width: 2.5vh;
}