.key{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 199, 199);
    color:rgb(72, 90, 90);
    width: 4vh;
    height: 8vh;
    text-transform: uppercase;
    border-radius: .5vh;
    font-weight: 400;
    font-size: 1.5em;
}

.key:active{
    background-color: rgb(185, 211, 211);
    color:rgb(117, 139, 139);
    font-size: 1.4em;
}

.enter, .backspace{
    width: 6vh;
    background-color: var(--miss);
}

.enter:active{
    background-color: var(--miss);
}

.backspace:active{
    background-color: var(--miss);
}

.backspace svg, .enter svg{
    fill: var(--darkgray-light);
}

.enter img{
    padding-left: .25vh;
    width: 3.25vh;
}

.press-enter{
    background-color: var(--jackpot);
}

.press-enter:active{
    background-color: var(--jackpot-active);
}
.press-enter svg:active{
    width: 3.4vh;
    height: 3.4vh;
}

.press-enter svg{
    fill:rgb(199, 231, 231);
}

.backspace img{
    width: 2.5vh;
}

.undo{
    background-color: rgb(164, 199, 199);

}
.undo svg{
    fill: rgb(72, 90, 90);
}
.undo svg:active{
    width: 3.4vh;
    height: 3.4vh;
}

.miss{
    background-color: var(--miss);
    border-color: var(--miss);
    color: var(--darkgray-light);
}
.miss:active{
    background-color: var(--miss-active);
}

.goodtry{
    background-color: var(--good-try);
    color:var(--darkgray);
}
.goodtry:active{
    background-color: var(--good-try-active);
}

.jackpot{
    background-color: rgba(34, 139, 34, 0.75);
    color:rgb(222, 240, 240);
}
.jackpot:active{
    background-color: rgba(114, 160, 114, 0.75);
    color:rgba(222, 240, 240);
}
